* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: bold 20px "Courier";
}
#main {
  display: flex;
  flex-flow: column ;
  align-items: center;
  justify-content: space-around;
  width: 360px;
  height: 420px;
  background-color: #7bd4a8;
  margin: 100px auto;
  border: 10px solid black;
  border-radius: 40px;
}
#main #stage {
  position: relative;
  width: 304px;
  height: 304px;
  border: 2px solid black;
}
#main #stage #snake > div {
  width: 10px;
  height: 10px;
  background-color: #000;
  border: 1px solid #7bd4a8;
  position: absolute;
  left: 20px;
  top: 20px;
}
#main #stage #food {
  width: 10px;
  height: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  position: absolute;
}
#main #stage #food > div {
  width: 4px;
  height: 4px;
  background-color: black;
  transform: rotate(45deg);
}
#main #score-panel {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
